*.class
UnivHousingApp/.metadata/*
.metadata/*
.metadata/.plugins/*
UnivHousingApp/bin/
*.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/UnivHousingApp/org.eclipse.jdt.core/state.dat
.classpath
.project